doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title FUTURE IMPERFECT
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="css/font-awesome.min.css")
  body
    // Fixed navbar
    .navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') FUTURE IMPERFECT
        .navbar-collapse.collapse
          ul.nav.navbar-nav.nav-ul
            li
              a(href='#') HOME
            li |
            li
              a(href='#about') ABOUT US
            li |
            li
              a(href='#contact') SERVICES
            li |
            li
              a(href="#galleries") GALLERIES
            li |
            li
              a(href="#contact") CONTACT
          ul.nav.navbar-right.navbar-nav
            li
              a.fa.fa-search(href="")
    
    section.logos
    .container
      .encabezado.text-center
        #intro
          a.logo
            img(src="images/logo.jpg")
        .text-header
          h1 FUTURE IMPERFECT
          p ANOTHER FINE RESPONSIVE SITE TEMPLATE BY HTML5 UP
    section.magna
      .container
        .row
          .col-sm-9
            .row.thumbnail-1
              .text-magna.pd-50
                h1 MAGMA SED ADIPISCING
                P LOREM IPSUM DOLOR AMET NULLAM CONSEQUAT ETIAM FEUGIAT
          .col-sm-3
            .row.thumbnail-1
              .text-magna.text-right.pd-50
                h6 NOVEMBE 1, 2015
                .media-middle
                  .media-left.text-right.media-body
                    p JANE DOE
                  .media-right.media-object
                    img.img-circle(src="images/avatar.jpg")
        .row.thumbnail-1.pd-50
            .imagen-100.col-sm-12
              .row
                img.img-responsive(src="images/pic02.jpg" width="100%")
                .pt-50
                  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque at tempora aliquam iste molestias quis deserunt veritatis ipsa accusantium nihil hic eligendi nam, est delectus, dolor eveniet sit impedit. Expedita.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam ipsa laudantium, optio neque, atque quidem suscipit consectetur. Nihil odio sit, a in laboriosam accusantium mollitia reiciendis aliquid suscipit repellendus voluptate.
              .row.pt-50
                .col-sm-6
                  .text-left
                    a.readeing(href="") CONTINUE READING
                .col-sm-6.text-right
                  span.space GENERAL | 
                  span.space.fa.fa-heart  
                  spam.heard 28 | 
                  span.space.fa.fa-comment  
                  span 128

          ///uno
    section.magna
      .container
        .row
          .col-sm-9
            .row.thumbnail-1
              .text-magna.pd-50
                h1 MAGMA SED ADIPISCING
                P LOREM IPSUM DOLOR AMET NULLAM CONSEQUAT ETIAM FEUGIAT
          .col-sm-3 
            .row.thumbnail-1
              .text-magna.text-right.pd-50
                h6 NOVEMBE 1, 2015
                .media-middle
                  .media-left.text-right.media-body
                    p JANE DOE
                  .media-right.media-object
                    img.img-circle(src="images/avatar.jpg")
        .row.thumbnail-1.pd-50
            .imagen-100.col-sm-12
              .row
                img.img-responsive(src="images/pic02.jpg" width="100%")
                .pt-50
                  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque at tempora aliquam iste molestias quis deserunt veritatis ipsa accusantium nihil hic eligendi nam, est delectus, dolor eveniet sit impedit. Expedita.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam ipsa laudantium, optio neque, atque quidem suscipit consectetur. Nihil odio sit, a in laboriosam accusantium mollitia reiciendis aliquid suscipit repellendus voluptate.
              .row.pt-50
                .col-sm-6
                  .text-left
                    a.btn.readeing(href="") CONTINUE READING
                .col-sm-6.text-right
                  span GENERAL | 
                  span.fa.fa-heart .heard 28 | 
                  span.fa.fa-comment 128
        //dos
    section.magna
      .container
        .row
          .col-sm-9
            .row.thumbnail-1
              .text-magna.pd-50
                h1 MAGMA SED ADIPISCING
                P LOREM IPSUM DOLOR AMET NULLAM CONSEQUAT ETIAM FEUGIAT
          .col-sm-3
            .row.thumbnail-1
              .text-magna.text-right.pd-50
                h6 NOVEMBE 1, 2015
                .media-middle
                  .media-left.text-right.media-body
                    p JANE DOE
                  .media-right.media-object
                    img.img-circle(src="images/avatar.jpg")
        .row.thumbnail-1.pd-50
            .imagen-100.col-sm-12
              .row
                img.img-responsive(src="images/pic02.jpg" width="100%")
                .pt-50
                  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque at tempora aliquam iste molestias quis deserunt veritatis ipsa accusantium nihil hic eligendi nam, est delectus, dolor eveniet sit impedit. Expedita.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam ipsa laudantium, optio neque, atque quidem suscipit consectetur. Nihil odio sit, a in laboriosam accusantium mollitia reiciendis aliquid suscipit repellendus voluptate.
              .row.pt-50
                .col-sm-6
                  .text-left
                    a.btn.readeing(href="") CONTINUE READING
                .col-sm-6.text-right
                  span GENERAL | 
                  span.fa.fa-heart .heard 28 | 
                  span.fa.fa-comment 128

        //fin 
    section.magna
      .container
        .row.text-center
          a.previus.readeing(href="") PREVIOUS PAGE
          a.next-page.readeing(href="") NEXT PAGE
      hr
    section.porftolio
      .container
        .row
          .col-sm-6
            .thumbnail
              img(src="images/pic04.jpg" width="100%")
              .caption
                .media-middle
                  .media-left.media-body
                    h6 VITAE SED CONDIMENTUM
                    p OCTOBER 20, 2015
                  .media-right.media-object
                    img.img-circle(src="images/avatar.jpg")

          .col-sm-6
            .thumbnail
              img(src="images/pic05.jpg" width="100%")
              .caption
                .media-middle
                  .media-left.media-body
                    h6 RETRUM NEQUE ACCUMSAN
                    p OCTOBER 19, 2015
                  .media-right.media-object
                    img.img-circle(src="images/avatar.jpg")
          .col-sm-6.pt-50
            .thumbnail
              img(src="images/pic06.jpg" width="100%")
              .caption
                .media-middle
                  .media-left.media-body
                    h6 ODIO CONGUE MATTIS
                    p OCTOBER 20, 2015
                  .media-right.media-object
                    img.img-circle(src="images/avatar.jpg")

          .col-sm-6.pt-50
            .thumbnail
              img(src="images/pic07.jpg" width="100%")
              .caption
                .media-middle
                  .media-left.media-body
                    h6 ENIM NISIL VEROEROS
                    p OCTOBER 17, 2015
                  .media-right.media-object
                    img.img-circle(src="images/avatar.jpg")
                    ///fin
        .row
          .media-middle.medias
            .media-right.media-object
              img(src="images/pic08.jpg")
            .media-left.media-body
              h6  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
              p   OCTOBER 20, 2015
        hr
        .row
          .media-middle.medias
            .media-right.media-object
              img(src="images/pic09.jpg")
            .media-left.media-body
              h6  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
              p   OCTOBER 20, 2015
        hr
        .row
          .media-middle.medias
            .media-right.media-object
              img(src="images/pic10.jpg")
            .media-left.media-body
              h6  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
              p   OCTOBER 20, 201
        hr
        .row
          .media-middle.medias
            .media-right.media-object
              img(src="images/pic11.jpg")
            .media-left.media-body
              h6  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
              p   OCTOBER 20, 2015 
        hr
        .row
          .media-middle.medias
            .media-right.media-object
              img(src="images/pic12.jpg")
            .media-left.media-body
              h6  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
              p   OCTOBER 20, 201
        hr
        //finn
        .row
          h5 ABOUT
          P  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio laboriosam, saepe eaque doloribus impedit illo ea quam beatae iste velit deleniti adipisci? Laudantium natus impedit tempora, soluta velit dolor excepturi.
          a.learn.readeing(href="") LEARN MORE
        hr
        .row.text-center
          a.red(href="")
            span.fa.fa-twitter
          a.red(href="")
            span.fa.fa-facebook
          a.red(href="")
            span.fa.fa-instagram
          a.red(href="")
            span.fa.fa-rss
          a.red(href="")
            span.fa.fa-google-plus-square
        .row
          p UNTLTLED. DESIGN: <a href="">HTML5 UP</a> IMAGES: <a href="">UNSPLAH</a> 


            




          
     
    // Bootstrap core JavaScript
    // ==================================================
    // Placed at the end of the document so the pages load faste
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='js/bootstrap.min.js')